<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
	<hibernate-configuration>
	   <session-factory>
	      <!-- 以下5项必须 -->
	       <!-- 数据库用户名 -->
	       <property name="connection.username">root</property>
	      <!-- 密码 -->
	       <property name="connection.password">HZIT123456</property>
	       <!-- 数据库驱动字符串 -->
	       <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	       <!-- url -->
	       <property name="connection.url">
	           <![CDATA[jdbc:mysql://localhost:3306/tpxt?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull]]>
	       </property>
	       <!-- 指定数据库所使用的 SQL 方言 -->
	       <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
	       
	       <!-- 附加参数可选 -->
	       <!-- 打印sql -->
	       <property name="show_sql">true</property>
	       <!--打印sql格式化  -->
	       <property name="format_sql">true</property>	       
	       <!--自动根据实体类创建表结构 (慎用)  -->
	       <!-- <property name="hbm2ddl.auto">create</property> -->
	       <!-- 绑定进程 -->
	       <property name="current_session_context_class">thread</property>
	       
	       <!-- (必须)引用实体类和数据库表的关系映射文件 *.hbm.xml  包名.类名-->
	       <!-- 引用注解实体类 -->
	         <mapping  class="entity.VoteUser"/>
	         <mapping  class="entity.VoteSubject"/>
	         <mapping  class="entity.VoteOption"/>
	         <mapping  class="entity.VoteItem"/>
	    </session-factory>
	</hibernate-configuration>