<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- 1编码过滤 -->
	<filter>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>filter.EncodeFilter</filter-class>
	</filter>
	
	  <filter>
          <filter-name>Struts2</filter-name>
          <!-- 核心控制器 -->
          
          <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
     </filter>
     <filter-mapping>
          <filter-name>Struts2</filter-name>
          <url-pattern>*.action</url-pattern>
     </filter-mapping>
     <filter-mapping>
          <filter-name>EncodeFilter</filter-name>
          <url-pattern>*.action</url-pattern>
     </filter-mapping>
    
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
